:root {
  --background: #141414;
  --font: #FFFFFF;
  --secondary-font:  #585858;
  --tertiary-font:  #B7B7B7;
  --placeholder: #434343;
  --surface: #181818;
  --purple: #A966FF;
  --success: #00FF75;
  --warning: #FFD600;
  --border-radius: 12px;
  --font: "Inter", sans-serif;
  --font-headings: "Inter", sans-serif;
  --font-mono: "IBM Plex Mono", ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-size: 16px;
}

h1,
h2,
p,
i,
a,
blockquote,
.author-name a {
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}
